<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>ASK MIU</h1>
    <span class="menu-spacer"></span>
    <div>

      <a mat-button [routerLink]="['/home']"> Home </a>
      <a mat-button [routerLink]="['/timeline']"> Timeline </a>
      <a mat-button [routerLink]="'/profile'"> Profile</a>
      <a mat-button (click)="logout()"> Log Out </a>

    </div>
  </mat-toolbar-row>

</mat-toolbar>

<mat-sidenav-container>

  <mat-sidenav #sidenav>
    <mat-nav-list>
      <ng-container *ngFor="let topic of topic">
        <a mat-list-item [routerLink]="['/posts/filter']" [queryParams]="{topics: topic._id}">{{topic.title}}</a>
    </ng-container>

      <!-- <a mat-list-item [routerLink]="'/accounts'"> Accounts </a>
      <a mat-list-item [routerLink]="'/create-account'"> Create Account </a>
      <a mat-list-item [routerLink]="'/contacts'"> Contacts </a>
      <a mat-list-item [routerLink]="'/create-contact'"> Create Contact </a>
      <a mat-list-item [routerLink]="'/activities'"> Activities </a>
      <a mat-list-item [routerLink]="'/create-activity'"> Create Activity </a>
      <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a> -->

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">


<div class="main-content">
  <div class="container-fluid">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Timeline</h4>
          </div>
        </div>
        <div class="row" *ngFor="let post of timelineData">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              {{post.title}}
            </div>
            <div class="card-body">
              <p class="card-text">{{post.body}}</p>
              <!-- <a href="#" class="btn btn-primary"></a> -->
              <footer class="blockquote-footer">Posted on: {{post.date | dateconvert}}</footer>
              <a [routerLink]="" class="btn btn-primary" (click)="onLike()" class="post-reaction-buttons">
                <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
            </a>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>



   </div>
  </mat-sidenav-content>
</mat-sidenav-container>
