<mat-toolbar class="navbar">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>ASK MIU</h1>
    <span class="menu-spacer"></span>
    <div>

      <a mat-button [routerLink]="['/home']"> Home </a>
      <a mat-button [routerLink]="['/timeline']"> Timeline </a>
      <a mat-button [routerLink]="'/profile'"> Profile</a>
      <a *ngIf="isAdmin" mat-button [routerLink]="'/addtopic'"> Add Topic</a>
      <a mat-button (click)="logout()"> Log Out </a>

    </div>
  </mat-toolbar-row>

</mat-toolbar>

<mat-sidenav-container>

  <mat-sidenav #sidenav class="navbar">
    <mat-nav-list>
      <ng-container *ngFor="let topic of topic">
        <a mat-list-item [routerLink]="['/posts/filter']" [queryParams]="{topics: topic._id}">{{topic.title}}</a>
    </ng-container>

      <!-- <a mat-list-item [routerLink]="'/accounts'"> Accounts </a>
      <a mat-list-item [routerLink]="'/create-account'"> Create Account </a>
      <a mat-list-item [routerLink]="'/contacts'"> Contacts </a>
      <a mat-list-item [routerLink]="'/create-contact'"> Create Contact </a>
      <a mat-list-item [routerLink]="'/activities'"> Activities </a>
      <a mat-list-item [routerLink]="'/create-activity'"> Create Activity </a>
      <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a> -->

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="mainbody">





<ng-container *ngFor="let question of question">
    <ul>
        <!-- <li>{{question.title}}</li>
        <li>{{question.title}}</li>
        <li>{{question.title}}</li>
        <li>{{question.title}}</li>
        <li>{{question.title}}</li> -->
    </ul>

<div class="main-content">
    <div class="container-fluid">
      <div class="row justify-content-md-center">
        <div class="col-md-8">
          <div class="card">
            <div class="card-header card-header-danger">
              <h4 class="card-title">{{question.title}}</h4>
              <p class="card-category">Posted on: {{question.date | dateconvert}}</p>
            </div>
            <div class="card-body">
              <form>
                <div class="col-4">
                  <div>
                    <p>{{question.body}}</p>
                  </div>
                </div>
                <form [formGroup]="myForm" (ngSubmit)="onSubmit(question)">
                    <div class="col-6" formGroupName="submitReply">

                        <div class="form-group">
                            <textarea  formControlName="replies" class="form-control" placeholder="Write your reply here"></textarea>

                            </div>
                        <input type="submit" value ="Reply"/>

                    </div>

                </form>
                <div class="card-body">Replies</div>
                <ng-container *ngFor="let reply of question.replies">
                    <div>
                        <ul>
                            <li>{{reply}}</li>
                        </ul>
                    </div>
                </ng-container>
                <div class="like-content card-body">

                    <button class="btn-secondary like-review">
                      <i class="fa fa-heart" aria-hidden="true"></i>{{question.likes.length}} Like
                    </button>

                  </div>
                <div class="clearfix"></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>


</div>
</mat-sidenav-content>
</mat-sidenav-container>
