

<!-- <form [formGroup]="myForm" (ngSubmit)="onSubmit()"></form>
<div stye="text-align:center">
    <h1>
     feed
    </h1>
 </div>
 <div class="form-group">
    <label for="body">Comment:</label>
    <textarea class="form-control" rows="5" id="body"></textarea>
  </div -->
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div formGroupName="feeddetails">
  
      <div class="form-group">
        <label for ="body">Question</label>
        <textarea class="form-control" id="body" row ="5" formControlName="body"></textarea>
      </div>
  
      <!-- <br>
      <div class="form-group">
        <label for ="email">Password</label>
        <input type="text" class="form-control" id="password" formControlName="password">
      </div> -->
  
    </div>
    <button mat-raised-button type="submit" color="primary" class="btn btn-primary" [disabled]="!myForm.valid">Basic</button>
  
    </form>
  