

  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div formGroupName="feeddetails" class="container">
  
      <div class="form-group row">
        <div class="col-sm-8">
          <label for ="title">Question</label>
          <input type="text" class="form-control" id="title" formControlName="title"/>
        <label for ="body">Question detail</label>
        <textarea class="form-control" id="body" row ="5" formControlName="body"></textarea>
        <br>
      <button mat-raised-button type="submit" color="primary" class="btn btn-primary" [disabled]="!myForm.valid">submit</button>
    </div>    
    </div>
    </div>
    </form>
  