<mat-toolbar class="navbar">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>ASK MIU</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="['/home']"> Home </a>
      <a mat-button [routerLink]="['/timeline']"> Timeline </a>
      <a mat-button [routerLink]="'/profile'"> Profile</a>
      <a *ngIf="isAdmin" mat-button [routerLink]="'/addtopic'"> Add Topic</a>
      <a mat-button (click)="logout()"> Log Out </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav class="navbar">
    <mat-nav-list>
      <ng-container *ngFor="let topic of topic">
        <a
          mat-list-item
          [routerLink]="['/posts/filter']"
          [queryParams]="{ topics: topic._id }"
          >{{ topic.title }}</a
        >
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">
      <div class="mainbody">
        <div class="container-fluid">
          <div class="row justify-content-md-center">
            <div class="col-md-8">
              <div>
                <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
                  <div formGroupName="addtopics">
                    <div class="form-group row">
                      <div class="col-sm-8 card-body">
                       <h3>Add Topic</h3>
                        <input
                          type="text"
                          class="form-control"
                          id="title"
                          formControlName="title"
                          placeholder="Enter title"
                        />
                        <br />
                        <input
                        type="text"
                          class="form-control"
                          id="category"
                          row="5"
                          formControlName="category"
                          placeholder="Enter Category"
                        />

                        <br>
                        <button
                          mat-raised-button
                          type="submit"
                          color="primary"
                          class="btn btn-primary"
                          [disabled]="!myForm.valid"
                        >
                          submit
                        </button>
                      </div>
                    </div>
                  </div>
                </form>

                <table class="table table-striped table-responsive-md btn-table">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Topic</th>
                      <th>Category</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr  *ngFor = "let topic of topic">
                      <th scope="row" class="counterCell"></th>
                      <td>{{ topic.title }}</td>
                      <td>{{ topic.category }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
